@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,600;0,700;1,200;1,400;1,700&display=swap");
a {
  text-decoration: none;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

a:hover,
a:active {
  color: lightgray;
}
.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
mat-toolbar {
  position: relative;
  z-index: 2;
  background: #1a80b6;
  font-weight: bold;
  justify-content: space-between;
}
.coppyright {
  font-size: 1rem;
  font-weight: lighter;
  color: white;
  padding-left: 2rem;
}
@media only screen and (max-width:1024px){
 .footer-menu{
   display: none !important;
 }
} 