<div class="footer">
  <mat-toolbar fxFlexAlign="space-between">
    <div fxFlex fxFlexAlign="space-between">
      <div fxFlex="50" class="logo">
        <img src="assets/slider/logoLussom.png" width="100%" />
      </div>
      <div fxFlex="50" class="coppyright">
        <p>Copyright ©2020 Lussom. All Rights Reserved.</p>
      </div>
    </div>
    <div class="footer-menu">
      <ul class="navigation-items">
        <li routerLink="/home" routerLinkActive="isNav-active">
          <a>Trang chủ</a>
        </li>
        <li routerLink="/news" routerLinkActive="isNav-active">
          <a>Tin tức</a>
        </li>
        <li routerLink="/careers" routerLinkActive="isNav-active">
          <a>Tuyển dụng</a>
        </li>
        <li routerLink="/contact" routerLinkActive="isNav-active">
          <a>Liên hệ</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
</div>
