@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css";
.item {
  /* padding: 10px; */
  box-sizing: border-box;
}
.slider-container {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
}
.slider-container > div {
  max-width: 90%;
  margin: 0 auto;
}
.slider-container > div > div {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.slide-title {
  font-size: 4rem;
  text-align: left;
  width: 55%;
  line-height: 4rem;
  font-family: "Source Sans Pro", sans-serif !important;
  font-style: italic;
  font-weight: 900;
  color: white;
}
.slide-content {
  color: white;
}
.dots-control {
  position: absolute;
  bottom: 30%;
  width: 100%;
}
.myPoint {
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
}
.myPoint li {
  background-image: url(../../../assets/dots.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  /*
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.55);
  padding: 4px;
  margin: 0 3px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s; */
}
.myPoint li.active {
  background-image: url(../../../assets/dots-active.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  /* transform: scale(1.2); */
}
.rectangle {
  position: absolute;
  bottom: 0;
}
@media (max-width: 1096px) and (min-width: 877px) {
  .slide-title {
    width: 80%;
  }
}
@media (min-width: 1097px) and (max-width: 1410px) {
  .slide-title {
    width: 65%;
  }
  .dots-control{
    bottom: 25%;
  }
}
@media screen and (min-width: 415px) and (max-width: 1024px) {
  .slider-container {
    min-height: 30rem;
  }
}
@media screen and (max-width: 320px){
.slider-container{
    min-height: 60vh !important;
}
}
@media screen and (max-width: 414px) {
  .slider-container {
    min-height: 45vh ;
  }
  .slider-container > div > div {
    width: 75%;
  }
  .slide-title {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 0.5rem !important;
  }
  .dots-control{
  bottom: 20px;
  }
  .myPoint {
    position: absolute;
    right: 5%;
    bottom: 0;
  }
  .myPoint li{
    width: 10px;
    height: 10px;
  }
}
@media screen and (min-width: 1600px) {
  .slider-container {
    min-height: 55rem;
  }
  .slider-container > div {
    max-width: 1440px;
    margin: 0 auto;
  }
  .myPoint {
    max-width: 1440px;
    /* margin-right: 15px; */
  }
  .myPoint li.active {
    width: 40px;
    /* transform: scale(1.2); */
  }
}
@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .slider-container {
    min-height: 40rem !important;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  .slide-content {
    font-size: 0.9rem;
  }
  .slide-title {
    font-size: 3rem;
    line-height: 3rem;
    width: 95%;
  }
  .dots-control {
    width: 100%;
    bottom: 15%;
  }
  .myPoint{
    width: 90%;
    margin: 0 auto;
  }
  .myPoint li{
    width: 12px;
    height: 12px;
  }
  .slide-title {
    font-size: 3rem;
    width: 95%;
    line-height: 3rem;
  }
}
@media (min-width: 768px) {
  /* .dots-control {
    left: 10%;
  } */
}
@media (min-width: 768px) and (max-width: 1024px) {
  .dots-control {
    bottom: 20%;
  }
  .myPoint li{
    width: 12px;
    height: 12px;
  }
}
@media (min-width: 1025px) and (max-width:1300px) {
  .dots-control {
    bottom: 25%;
  }
  .myPoint li{
    width: 12px;
    height: 12px;
  }
  .myPoint li.active{
    width: 30px;
  }
}
@media (min-width: 1440px) {
  .slide-content {
    width: 80%;
  }
}
