p {
  font-family: Lato;
}
.swiper-container {
  width: 100%;
  height: 100%;
  /* position: absolute;
  top: 0;
  z-index: 1; */
}

.swiper-slide {
  overflow: hidden !important;
  /* text-align: center;
  font-size: 18px;
  background: #fff; */
  /* Center slide text vertically */
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative; */
}
.slide-content {
  position: absolute;
  top: 30%;
  left: 10%;
}
.slider-pagination {
  position: absolute;
  bottom: 75%;
  z-index: 3;
  left: 10%;
}
.slide-title {
  font-size: 4rem;
  text-align: left;
  width: 50%;
  line-height: 4rem;
  font-family: 'Source Sans Pro', sans-serif !important;
}
.content-slide {
  font-size: 1rem;
}
