
<div style="position: relative;">
<ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
	<div *nguCarouselDef="let item;" class="item">
    <!-- <img src='assets/slider/slide1.png' width="100%"/> -->
		<div class="slider" style="background-image: url(assets/slider/slide1.png);"><h3>{{item.title}}</h3><span>{{item.content}}</span></div>
	</div>
	<ul class="myPoint" NguCarouselPoint>
		<li *ngFor="let j of myCarousel.pointNumbers;" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
  </ul>
</ngu-carousel>
<img src='assets/Rectangle.png' width="100%" class="rectangle"/>
</div>