<mat-nav-list class="side-nav">
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/news" (click)="onSidenavClose()">
    <span class="nav-caption">News</span>
  </a>
  <a mat-list-item routerLink="/careers" (click)="onSidenavClose()">
    <!-- <mat-icon>account_balance</mat-icon> -->
    <span class="nav-caption">Careers</span>
  </a>
  <a mat-list-item routerLink="/contacts" (click)="onSidenavClose()">
    <!-- <mat-icon>account_balance</mat-icon> -->
    <span class="nav-caption">Contact Us</span>
  </a>
</mat-nav-list>