<div fxFlexAlign="center" class="section3">
  <div  fxLayout="row wrap" fxLayout.lt-xs="column">
    <div fxLayout="column"  fxFlex="50%" fxFlex.lt-sm="100%">
      <img src="assets/cuture-of-lussom.png" width="100%" />
    </div>
    <div fxFlex="50" fxLayout="column" fxFlexAlign="center" fxFlex="50%" fxFlex.lt-sm="100%" class='section3-content-container'>
      <span class="section-title"
        >Văn hóa <span style="color: #1499df;">Lussom</span></span
      >
      <p class="section-content">
        Chúng tôi xây dựng một văn hóa kỷ luật trách nhiệm hướng đến những chuẩn mực cao, nhưng vẫn đầy tính mở cho cá tính và sáng tạo của mỗi thành viên. Văn hóa của Lussom đề cao việc phát triển và hoàn thiện của mỗi cá nhân, từ đó đóng góp chung và thành công của cả công ty.
      </p>
      <button mat-raised-button class="btn-read-more">Read more >></button>
    </div>
  </div>
</div>
