<div fxFlexAlign="center" fxLayout="column" class="sections">
    <div class="section3">
      <div fxFlex="50" fxLayout="column">
        <img src="assets/cuture-of-lussom.png" width="100%" />
      </div>
      <div fxFlex="40" fxLayout="column" fxFlexAlign="center">
        <span>WE ARE LUSSOM</span>
        <p>
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur'
        </p>
        <button mat-raised-button color="primary">Read more >></button>
      </div>
    </div>
  </div>
  