@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap");
.news-container {
  flex-direction: column;
}

.list-news {
  max-width: 1440px;
  margin: 0 auto;
  & .news-items {
    padding: 1rem;
  }
  & .news-items > h3 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #3d3d3deb;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden !important;
    height: 3.3rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 1rem 0 .5rem 0;
  }
  & .news-items > p {
    height: 2.2rem;
    position: relative;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  & .news-footer {
    padding: 1rem;
    background: #f1faff;
  }
  & .news-footer-readmore {
    display: flex;
    align-items: center;
    border-left: 1px solid #cfcfcf;
    color: #1a80b6;
    cursor: pointer;
  }
  & .news-footer-readmore > img {
    padding: 0 0.5rem;
  }
}
.pagination{
  max-width: 1440px;
  margin: 0 auto ;
  text-align: center;
  & li{
    margin: 0 1rem !important;
    border-radius: 100%;
  }
}

