<div class="news-container">
  <div class="news-header">
    <div>
      <h2>CARRIES</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </div>
  <table mat-table [dataSource]="jobs" class="table-jobs gfg">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td
        mat-cell
        *matCellDef="let element"
        routerLink="/careers/detail/{{ element.id }}"
        class="geeks"
        style="
          cursor: pointer;
          color: #58b4e6;
          font-weight: 500;
          outline: none;
        "
      >
        {{ element.title }}
      </td>
    </ng-container>
    <ng-container matColumnDef="categories">
      <th mat-header-cell *matHeaderCellDef>Categories</th>
      <td
        mat-cell
        *matCellDef="let element"
        style="margin: 1rem;"
        class="geeks"
      >
        {{ element.categories }}
      </td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element" class="geeks">
        {{ element.location }}
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element" class="geeks">
        {{ element.expried | date: "dd-MM-yyyy" }}
        <span *ngIf="checkTimestamp(element.expried)" class="stick-new">new</span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
