<mat-toolbar>
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div class="logo">
      <img src="assets/slider/logoLussom.png">
  </div>
  <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
              <a routerLink="/owner">HOME</a>
          </li>
          <li>
              <a routerLink="/account">NEWS</a>
          </li>
          <li>
            <a routerLink="/account">CARRIES</a>
        </li>
        <li>
            <a routerLink="/account">CONTACT US</a>
        </li>
      </ul>
  </div>
</mat-toolbar>
