.section4{
    flex-direction: column;
}
.section-title{
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .btn-read-more {
    background-color: #1a80b6;
    width: 8rem !important;
    height: 2.5rem;
    font-size: 1rem;
    color: white;
  }