<div fxFlexAlign="center" fxLayout="column" class="section4">
  <div
    fxFlexAlign="center"
    fxLayout="column"
    style="text-align: center; padding: 0rem 10% 3rem 10%;"
    fxFlex="40"
    class="section4-title-container"
  >
    <span class="section-title"
      >Opportunity <span style="color: #1499df;">Careers</span></span
    >
    <div class="section-title-content">
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam.'
    </div>
  </div>
  <owl-carousel-o [options]="customOptions" class="carousel-jobs">
    <ng-container *ngFor="let slide of jobs">
      <ng-template carouselSlide [id]="slide.id">
        <!-- <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" /> -->
        <div class="slide-jobs">
        <h3 style="font-weight: 600;">{{ slide.title }}</h3>
        <p>Vị trí trống: {{ slide.vacancies }}</p>
        <p>Kinh nghiệm: {{ slide.experience }}</p>
        <p>Bộ phận: {{ slide.categories }}</p>
        <p>Ngày hết hạn: {{ slide.expried | date: "dd-MM-yyyy" }}</p>
        <button mat-button class="btn-read-more-job" routerLink="/careers/detail/{{ slide.id }}">Read more >></button>
      </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <!-- <div
    fxFlexAlign="center"
    fxLayoutGap="1%"
    fxLayout="row"
    fxFlex="100"
    style="padding: 0 10% 3rem 10%; width: 100%;"
  >

  </div> -->
</div>
