.form-apply {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.14) !important;
  @media (max-width: 600px) {
    padding: 0;
  }
}
.input-cv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  height: 2rem;
  width: 70%;
  @media (max-width: 1440px) {
    width: 100%;
  }
  & input {
    border-radius: 16px;
    border: 1px solid #d0cdcd;
    padding: 0.2rem 1rem;
    width: 50%;
    height: 2.1rem;
    outline: none;
  }
}
.attact-cv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  width: 70%;
  @media (max-width: 1440px) {
    width: 100%;
  }
  & div {
    display: flex;
    width: 50%;
    align-items: center;
  }
  & label {
    background: #1a80b6;
    height: 2.1rem;
    display: flex;
    align-items: center;
    padding: 0.7rem;
    border-radius: 20px;
    color: white;
    width: 50%;
  }
  & img {
    width: 10px !important;
    margin-right: 5px;
  }
  & span {
    width: 50%;
    position: relative;
    overflow: hidden !important;
    height: 1rem;
    text-overflow: ellipsis;
    display: block;
    padding: 0 5px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}
.submit-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  @media (max-width: 1440px) {
    width: 100%;
  }
  & .submit-btn-ok {
    background: #ffc50e;
    border: 1px solid #fafafa;
    border-radius: 24px;
    height: 2.2rem;
    width: 49%;
    margin-right: 1%;
    color: white;
    font-size: 100%;
    outline: none;
    @media (max-width: 600px) {
      width: 39%;
    }
  }
  & .submit-btn-cancel {
    background: #d7d7d7;
    border: 1px solid #fafafa;
    border-radius: 24px;
    height: 2.2rem;
    width: 49%;
    margin-left: 1%;
    color: white;
    font-size: 100%;
    outline: none;
    @media (max-width: 600px) {
      width: 39%;
    }
  }
}
.jobs-relate {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.14) !important;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 0.8rem;
  padding: 1rem;
  & .title {
    color: #2c7da9;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
}
.job-require {
  & .frame {
    border: 1px solid rgba(0, 0, 0, 0.14) !important;
    border-radius: 5px;
    padding: 1rem;
  }
  @media (max-width: 960px) {
    order: 2;
    //  width: 100%;
  }
}
.job-more-info {
  & div:first-child {
    padding: 1rem;
    background-color: #e8e6e6;
    border-radius: 5px;
  }
  & h3 {
    margin: 0;
  }
  @media (max-width: 960px) {
    order: 1;
    margin-bottom: 1rem;
    margin-right: .5rem;
    // width: 100% !important  ;
  }
}
.salary,
.location {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  & img {
    padding-right: 0.5rem;
    width: 22px !important;
  }
  & h3 {
    margin: 0;
    padding-right: 0.5rem;
  }
}

.new-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #9c27b0;
  font-size: 16px;
  color: #fff;
}
// input[type="file"] {
//   position:relative;
// float:left;
// cursor:pointer;
// right:138px;
// // -moz-opacity:0 ;
// filter:alpha(opacity: 0);
// opacity: 0;
// z-index: 2;
// text-align: right;
//         }
