/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
p {
  font-family: "Roboto", sans-serif;
}
html,
body {
  margin: 0;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif !important;
}
/* .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 50% !important;
} */
.section-title {
  font-size: 3rem;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-weight: bold;
}
/* :root {
  --swiper-theme-color: red;
  --swiper-navigation-size: 44px;
} */
@media screen and (max-width: 768px) and (min-width: 415px) {
  .slide-content[_ngcontent-iyk-c148] {
    top: 20%;
  }
  .section1[_ngcontent-iyk-c152] {
    padding: 0rem 0 0rem 0;
  }
  .shape-top[_ngcontent-iyk-c152] > div[_ngcontent-iyk-c152] {
    -webkit-clip-path: polygon(0 5%, 0% 100%, 100% 100%);
    clip-path: polygon(0 52%, 0% 100%, 100% 100%);
  }
  .slide-title[_ngcontent-iyk-c148] {
    font-size: 2rem;
    line-height: 2rem;
  }
  .slide-content2[_ngcontent-iyk-c148] {
    font-size: 0.7rem;
  }
  .section-title[_ngcontent-iyk-c149] {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .section3 {
    padding: 0;
  }
  .section4 > div {
    padding: 1rem 10% 2rem;
  }
  .section-title[_ngcontent-iyk-c151] {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
