<div fxFlexAlign="center" fxLayout="row" class="section2">
  <img src="assets/section2-background.png" width="100%" />
  <div>
    <div fxFlex="40" fxLayout="column" fxFlexAlign="center">
      <span class="section-title">People Of <span style="color: #1499df;">Lussom</span></span>
      <p style="padding-right: 1rem;">
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur'
      </p>
      <button mat-raised-button class='btn-read-more'>Read more >></button>
    </div>
    <div fxFlex="60" fxLayout="column">
      <img src="assets/people-of-lussom.png" width="100%" />
    </div>
  </div>
</div>
