<div fxFlexAlign="center" class="section2">
  <div style="width: 100%;">
    <img
      src="assets/section2-background.png"
      width="100%"
      class="section2-background"
    />
  </div>
  <div class="section2-content" fxLayout="row wrap" fxLayout.lt-xs="column">
    <div style="width: 100%;" fxFlex="50%" fxFlex.lt-sm="100%" fxFlexOrder="2">
      <img src="assets/people-of-lussom.png" width="100%" />
    </div>
    <div
      style="margin-top: 1rem;"
      fxFlex="50%"
      fxFlex.lt-sm="100%"
      fxFlexOrder="1"
      class="section2-content-container"
    >
      <div class="section-title">
        <span> People Of</span>
        <span style="color: #1499df;"> Lussom</span>
      </div>
      <p class="section-content">
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.'
        <br />
        <br />
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.'
      </p>
      <button mat-raised-button class="btn-read-more">Read more >></button>
    </div>
  </div>
</div>
<!-- <table>
  <tbody>
    <tr>
      <td>
        <div style="width: 50%; float: right;">
          <img src="assets/people-of-lussom.png" width="100%" />
        </div>
        <span class="section-title"
          >People Of <span style="color: #1499df;">Lussom</span></span
        >
        <p style="font-size: 0.9rem;">
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam.' 'Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam.' 
          <a style="color: #0094e4; font-size: 0.9rem;">Xem tiep >></a>
        </p>
      </td>
    </tr>
  </tbody>
</table> -->
