<div fxFlexAlign="center" fxLayout="column" class="sections">
  <app-slider></app-slider>
  <div class="section1">
    <div class="shape-top">
      <div></div>
    </div>
    <div fxFlex="50" fxLayout="column">
      <img src="assets/we-are-lussom.png" width="100%" />
    </div>
    <div fxFlex="40" fxLayout="column" fxFlexAlign="center">
      <span class="section-title">We Are <span style="color: #1499df;">Lussom</span></span>
      <p>
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur'
      </p>
      <button mat-raised-button color="primary">Read more >></button>
    </div>
  </div>
  <app-section2></app-section2>
  <app-section3></app-section3>
  <app-section4></app-section4>
</div>
