<div fxFlexAlign="center" fxLayout="column" class="sections">
  <app-slider></app-slider>
  <div class="section1" fxLayout="row wrap" fxLayout.lt-xs="column">
    <div fxFlex="50%" fxFlex.lt-sm="100%" class="frame-img">
      <img src="assets/we-are-lussom.png" width="100%" />
    </div>
    <div
      fxFlexAlign="center"
      style="padding: 0 0 0 10%;"
      fxFlex="50%"
      fxFlex.lt-sm="100%"
      class="section-container"
    >
      <div class="section-title">
        <span><span style="color: #1499df;">Lussom</span> là ai?</span>
      </div>
      <p class="section1-content">
        Chúng tôi nhà phát hành game chuyên hoạt động tại Việt Nam, sở hữu đội ngũ nhân sự Hàn Quốc và Việt Nam có chuyên môn và kinh nghiệm trong mảng kinh doanh game toàn cầu, Lussom chuyên tìm kiếm các sản phẩm game xuất sắc từ nước ngoài để cung cấp cho cộng đồng người dùng tại thị trường Việt Nam.
      </p>
      <button mat-raised-button class="btn-read-more">Read more >></button>
    </div>
  </div>
  <app-section2></app-section2>
  <app-section3></app-section3>
  <app-section4></app-section4>
</div>
