<div fxFlexAlign="center" fxLayout="column" class="sections">
  <app-slider></app-slider>
  <div class="section1" fxLayout="row wrap" fxLayout.lt-xs="column">
    <div fxFlex="50%" fxFlex.lt-sm="100%" class="frame-img">
      <img src="assets/we-are-lussom.png" width="100%" />
    </div>
    <div
      fxFlexAlign="center"
      style="padding: 0 0 0 5%;"
      fxFlex="50%"
      fxFlex.lt-sm="100%"
    >
      <div class="section-title">
        <span>We Are <span style="color: #1499df;">Lussom</span></span>
      </div>
      <p class="section1-content">
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.'
        <br />
        <br />
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.'
      </p>
      <button mat-raised-button class="btn-read-more">Read more >></button>
    </div>
  </div>
  <app-section2></app-section2>
  <app-section3></app-section3>
  <app-section4></app-section4>
</div>
